<html>
	<head>
		<title>About</title>
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
			integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
			crossorigin="anonymous"
		/>
		<link rel="shortcut icon" type="image/x-icon" href="/static/hawk.png"></link>
	</head>
	<body>
	<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
			<div class="container">
				<button
					class="navbar-toggler"
					type="button"
					data-toggle="collapse"
					data-target="#navbarNavDropdown"
					aria-controls="navbarNavDropdown"
					aria-expanded="false"
					aria-label="Toggle navigation"
				>
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNavDropdown">
					<ul class="navbar-nav">
						<li class="nav-item">
							<a class="nav-link" href={{ url_for("index") }}>Home <span class="sr-only">(current)</span></a>
						</li>
                        <li class="nav-item active"><a class="nav-link" href={{ url_for("about") }}>About</a></li>
                        <li class="nav-item"><a class="nav-link" href={{ url_for("api") }}>API</a></li>                        
					</ul>
				</div>
			</div>
		</nav>
		<div class="container">
            <h1 style="margin:15px 0">About Hawk<i>ai</i></h1>
            <p>Hawkai uses supervised and self-supervised machine learning to detect motor vehicle collisions in CCTV footage in real-time.</p>
            <br />
            <h2>The Problem</h2>
            <div class="media">
                <p class="media-body" style="margin-right:50px; margin-top:35px;">
                    When an accident occurs on the road, every second counts. The longer it takes for emergency services to reach the scene, 
                    the more likely it is that the accident will result in a fatality. However, emergency services can be dispatched only
                    after the accident is reported or is detected by someone in a highway control room. Enter Hawkai.
                </p>
                <span class="media-right">
                    <img style="height: 200px" src="/static/ctl_room.jpg">
                </span>
            </div>
            <br />
            <br />
            <h2>The Hawkai Solution</h2>
            <div class="media">
                <p class="media-body" style="margin-right:50px; margin-top:35px;">
                    Hawkai continuously monitors roadways and alerts traffic control centers in the event of a collision so that
                    they can immediately dispatch emergency services to the accident scene. By lowering response times, Hawkai 
                    reduces the likelihood that a collision will result in fatalities and gets accident victims the help they need.
                </p>
                <span class="media-right">
                    <img style="height: 200px; width: 285px;" src="/static/hawkai.png">
                </span>
            </div>
        </div>
        <br />
        <br />
        <nav style="margin-top:25px" class="navbar navbar-right fixed-bottom navbar-light bg-light">
				<ul class="nav navbar-nav ml-auto">
					Capstone
				</ul>
        </nav>
	</body>
</html>
